body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #1c1c1c;
    color: #c8c8c8;
    font-size: 16px;
}

h1 {
    color: #61afef;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

form {
    width: 600px;
    margin: 0 20px 0 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: #333333;
}

#submittedValuesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    width: 600px;
    margin: 0 20px 0 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: #333333;
    color: #c8c8c8;
    text-align: left;
}

.submitted-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.submitted-label {
    font-weight: bold;
    color: #61afef;
    font-size: 24px;
    text-align: left;
}

.submitted-value {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #61afef;
    font-size: 18px;
}

.error-message {
    display: block;
    color: red;
    margin-top: 5px;
}

input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #4c4c4c;
    border-radius: 8px;
    width: calc(100% - 24px);
    margin-bottom: 15px;
    background-color: #444444;
    color: #c8c8c8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

button {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-block;
    background-color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 2px solid #61afef;
    border-radius: 5px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

button:hover {
    background-color: #61afef;
    color: #ffffff;
    border-color: #ffffff;
}

.buttons-container {
    display: flex; 
    flex-direction: column;  
    align-items: center;  
    margin-top: 20px;  
}

.buttons-container button {
    margin-bottom: 10px; 
}

#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.close {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 80vh;
    object-fit: contain;
    margin-top: 50px;
}

/* 專題說明的浮動視窗 */
#descriptionModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-description {
    background-color: #1c1c1c;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    list-style-position: inside; /* 將列表數字內容對齊 */
}

.modal-description strong {
    color: #61afef; /* 設定新的顏色 */
    display: block;
    margin-bottom: 10px;
}

.modal-description p {
    text-align: left;
}

.modal-description strong {
    font-size: 1.2em; /* Adjust the font size for <strong> elements */
}

.modal-description a {
    color: #61afef;
}

.modal-description a:hover {
    color: #ffffff; 
}

/* 關閉按鈕的樣式 */
#descriptionModal .close {
    color: #fff;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

#descriptionModal .close:hover,
#descriptionModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
